/********* background *********/
body {
  margin: 0;
  font-family: "Mojangles";
  color: white;
}
#background {
  height: 100%;
  width: 100%;
  background-image: url("./icons/Bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: -2;
  display: flex;
  top: 0;
}
#fade-bg {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #00000000, #000000);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: 1000;
  display: flex;
  top: 0;
}

/********* header text *********/
#header {
  font-family: "MinecraftTen";
  font-size: 20px;
  text-align: center;
}
#header-desc {
  text-align: center;
  font-size: 10px;
  font-family: "MinecraftFive";
}

/********* main form *********/
#sign-in-form {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  display: grid;
  opacity: 0;
  transition: opacity 0.5s linear, top 0.5s ease-out;
}

/********* fill up pack info *********/
#form {
  position: relative;
  border-style: solid;
  border-width: 3px;
  border-image-slice: 3 3 3 3 fill;
  border-image-width: 3 3 3 3;
  border-image-source: url("./icons/dialog_background.png");
  border-image-repeat: stretch;
  box-sizing: border-box;
  image-rendering: pixelated;
  padding: 20px;
  width: 280px;
  height: 400px;
  z-index: -1;
  display: grid;
}
/**/
#padding {
  height: 40px;
}
/**/
#pack-name-grid {
  display: grid;
  grid-template-rows: 10px 30px;
}
#pack-name {
  width: 215px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  position: relative;
  background-color: #000000;
  color: white;
  font-family: "Mojangles";
  align-self: center;
}
#pack-name:hover {
  outline: 2px solid green;
}
#pack-name-text {
  height: 10px;
  padding: 0;
  position: relative;
  font-family: "MinecraftTen";
  justify-self: top;
  text-align: center;
}
/**/
#pack-desc-grid {
  display: grid;
  grid-template-rows: 93px 30px;
}
#pack-desc {
  width: 215px;
  height: 100px;
  padding-left: 10px;
  padding-right: 10px;
  text-wrap: white-space;
  border: none;
  outline: none;
  position: relative;
  background-color: #000000;
  color: white;
  font-family: "Mojangles";
  line-height: 24px;
}
#pack-desc:hover {
  outline: 2px solid green;
}
#pack-desc-text {
  height: 10px;
  padding: 0;
  position: relative;
  font-family: "MinecraftTen";
  justify-self: top;
  text-align: center;
}

/********* choose image box *********/
#pack-preview {
  display: grid;
  top: 70px;
  position: relative;
}
#pack-icon-settings {
  display: flex;
  width: 150px;
  height: 150px;
  justify-items: center;
  justify-self: center;
  outline: 2px solid black;
}
#pack-icon-file {
  width: 150px;
  height: 150px;
  position: absolute;
  display: none;
  
}
#fade-border {
  z-index: 2;
  background: linear-gradient(to bottom, #ffffff00, #000000);
  background-size: 100% 40%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  position: absolute;
}
#edit-image-icon {
  position: absolute;
  z-index: 5;
  width: 150px;
  height: 150px;
  background-image: url("./icons/edit_image.png");
  background-repeat: no-repeat;
  background-position-y: 96%;
  background-position-x: 97%;
  background-size: 20px 20px;
  image-rendering: pixelated;
  filter: invert(1)
}
#edit-image-icon:active {
  filter: invert(0.5)
}
#pack-icon-preview {
  width: 100%;
  height: 100%;
  z-index: 1;
}

/********* checkboxes for pack types *********/
#checkboxes {
  display: grid;
  align-items: center;
  height: 60px;
}
.checkbox {
  border-style: solid;
  border-width: 10px;
  border-image-source: url("./icons/uncheck.png");
  image-rendering: pixelated;
  webkit-appearance: none;
  appearance: none;
  border-image-slice: 6 fill;
  border-image-repeat: stretch;
  height: 7px;
}
.checkbox:checked {
  border-image-source: url("./icons/checked.png")
}
.label {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-column-gap: 15px;
  align-content: center;
  align-items: center;
  font-size: 12px;
  font-family: "MinecraftFive";
  height: 20px;
}

/********* download button *********/
#download {
  font-family: "MinecraftTen";
  text-align: center;
  align-content: center;
  border-style: solid;
  border-width: 6px; /* nineslice_size */
  border-image-source: url("./icons/button_default.png");
  border-image-slice: 6 fill; /* nineslice_size */
  border-image-width: 6px; /* nineslice_size */
  border-image-repeat: stretch;
  image-rendering: pixelated;
  font-size: 20px;
  text-decoration: none;
  color: white;
}
#download:active {
  border-image-source: url("./icons/button_pressed_hover.png");
}
/********* blocking download button *********/
#download-block {
  font-family: "MinecraftTen";
  text-align: center;
  align-content: center;
  border-style: solid;
  border-width: 6px; /* nineslice_size */
  border-image-source: url("./icons/button_default.png");
  border-image-slice: 6 fill; /* nineslice_size */
  border-image-width: 6px; /* nineslice_size */
  border-image-repeat: stretch;
  image-rendering: pixelated;
  font-size: 20px;
  text-decoration: none;
  color: white;
  filter: grayscale(1);
  display: none;
}
#download-block:active {
  border-image-source: url("./icons/button_pressed_hover.png");
}

/********* fonts for texts *********/
@font-face {
  font-family: 'Mojangles';
  src: url('./fonts/Mojangles.ttf') format('truetype')
}
@font-face {
  font-family: 'MinecraftTen';
  src: url('./fonts/Minecraft-Ten.otf') format('opentype')
}
@font-face {
  font-family: 'MinecraftFive';
  src: url('./fonts/Minecraft-Five.otf') format('opentype')
}